h6 {
  color: #ff3131;
    }
h3 {
  background-color: #cdcaca;
  border-radius: 7px;
  box-shadow: 5px 5px 5px 2px #343333;
    }
h4 {
  color: #5e727b;
    }
h2 {
  background-color: #ffdc68;
  border-radius: 7px;
  box-shadow: 5px 5px 5px 2px #d78c00;
    }
h1 {
  background-color: #15ff00;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 2px #0a7e00;
  }
h5 {
  color: #7ce7f8;
  padding-left:15px;
  border: 2px solid #d8faff;
  }
